* {
	outline: none;
	box-sizing:border-box;
	margin: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

#filebar {
	padding: 10px;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 40px;
	z-index: 1;
}

#main {
	position: absolute;
	top: 40px;
	width: 100%;
}

#main > * {
	position: relative;
}

#loading_indicator {
	float: right;
	padding-right: 20px;
	font-weight: bold;
}

.hidden {
	display: none;
}

.tl-pair {
	clear: both;
	display: flex;
	justify-content:center;
}

.tl-pair > .index {
	float: left;
	text-align: center;
	width: 4em;
}

.tl-pair > .jp {
	float: left;
	width: 16em;
	min-height: 5em;
	border: 1px solid gray;
	background-color: #eeeeee;
	margin-right: 1em;
}

.tl-pair > .en {
	width: 16em;
	min-height: 5em;
}

.tl-pair > .en > textarea {
	width: 100%;
	height: 100%;
}
